@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

/* Estilos generales */
@font-face {
  font-family: 'Winner Sans Cond Regular';
  src: url('./assets/fonts/winnersans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh; /* Cambiado a 100vh */
  width: 100%;
}

#root {
  width: 100%;
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: white; /* Fondo blanco para el contenedor principal */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo negro con transparencia */
  color: #F26E22; /* Letras blancas */
  padding: 0.5rem 1rem; /* Ajustar el padding para reducir el alto del navbar */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
  animation: slideDown 0.5s ease-out; /* Aplica la animación al navbar */
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-container {
  cursor: pointer; /* Asegura que el logo no se vea como editable */
  user-select: none; /* Evita que el logo sea seleccionable */
  outline: none; /* Evita que el logo sea enfocable */
}

.logo-image {
  height: 40px; /* Ajusta la altura según sea necesario */
  pointer-events: none; /* Evita que el logo sea interactivo */
}

.menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0%;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 1rem;
}

.navbar-item a {
  color: #2A3E59; /* Color del texto del navbar */
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer; /* Asegura que los enlaces no se vean como editables */
  user-select: none; /* Evita que los enlaces sean seleccionables */
  position: relative;
}

.navbar-item a:hover {
  color: #F26E22; /* Color rojo para el hover */
}

.navbar-item a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ff4d4d; /* Color rojo para la línea */
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.navbar-item a:hover::after {
  width: 100%;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar-logo {
    order: 1;
    align-self: flex-start;
  }

  .menu-button {
    display: block;
    order: 2;
    align-self: flex-start;
    color: #2A3E59; /* Nuevo color para el botón de menú */
  }

  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background-color: #F26E22; /* Fondo rojo */
    color: white;
    transition: right 0.3s ease;
    z-index: 1001; /* Asegura que el menú esté por encima del navbar */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navbar-menu.open {
    right: 0;
  }

  .close-button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }

  .navbar-item {
    width: 100%;
    text-align: left;
  }

  .navbar-item a {
    display: block;
    width: 100%;
    padding: 1rem;
  }

  .navbar-item a {
    color: white !important;
  }
}

@media (min-width: 769px) {
  .navbar-menu {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    width: auto;
    height: auto;
    padding: 0;
  }

  .navbar-menu ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  .navbar-item {
    display: inline-block;
    width: auto;
    text-align: center;
  }

  .navbar-item a {
    display: inline-block;
    width: auto;
    padding: 0.5rem 1rem;
  }

  .menu-button,
  .close-button {
    display: none;
  }

  .logo-image {
    height: 80px;
  }

  .navbar-logo,
  .logo-image {
    user-select: none;
    outline: none;
    cursor: default;
  }
}

/* Estilos del footer */
.footer {
  background-color: #212226;
  color: #9FA0A5;
  padding: 8rem 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 1rem;
  min-width: 200px;
  text-align: left;
}

.footer-section h3 {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Winner Sans Cond Regular', sans-serif;
  text-align: left;
}

.footer-section p, .footer-section a {
  color: #9FA0A5;
  font-size: 1rem;
  margin: 0.5rem 0;
  text-decoration: none;
  text-align: left;
}

.footer-section a:hover {
  color: #ffffff;
}

.footer-section i {
  color: #ff6600;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.footer-section p {
  display: flex;
  align-items: center;
  color: #9FA0A5;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.footer-section.explora {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  text-align: center;
}

.footer-section.explora h3 {
  grid-column: span 2;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
  font-family: 'Winner Sans Cond Regular', sans-serif;
}

.footer-section.explora p {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1 !important;
}

.footer-section p, .footer-section a {
  margin: 0.5rem 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #222222;
  color: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  background-color: #ff6600;
  transform: scale(1.1);
}

.social-icons i {
  font-size: 1.2rem;
  color: #9FA0A5;
}

.contact-button {
  background-color: #F26E22;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}

.contact-button:hover {
  background-color: darkred;
}

.back-to-top {
  background-color: #F26E22;
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-to-top:hover {
  background-color: #b25018;
}

.back-to-top:active {
  background-color: #b25018;
  transform: scale(0.9);
}

.footer-copyright {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #9FA0A5;
}